<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Course</a><br />
<table>
    <tr>
        <th>Title</th>
        <th>Instructor</th>
        <th>Credits</th>
        <td>Actions</td>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:inline = "text">[[${course.title}]]</td>
        <td th:inline = "text">[[${course.instructor}]]</td>
        <td th:inline = "text">[[${course.credit}]]</td>
        <td>
            <a th:href="@{'/view/' + ${course.id}}">Details</a> -
            <a th:href="@{'/delete/'+ ${course.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>